{% extends "base.html" %}
{% load static %}
{% block title %}Equities{% endblock  %}
{% block content %}
    <div class="row p-1">
        <div class="col-md-10">
        </div>
        <div class="col-md-2">
            <p><span><strong>AsOf: </strong><input type="date" value="{{asof}}"></span></p>
        </div>
    </div>

    <section>
        <div class="p-1">
            {% include "partials/markets_summary_cards.html" %}
        </div>

        <div class="row p-1">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <canvas id="marketValueTrend"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/graphs.js' %}"></script>
{% endblock content %}