{% extends "base.html" %}
{% load static %}
{% block title %}Monitor Business{% endblock  %}
{% block content %}
    <div class="row p-1">
        <div class="col-md-10">
            <h4 class="mt-4 font-weight-bold text-muted">Monitor</h4>
        </div>
        <div class="col-md-2">
            <p><span><strong>AsOf: </strong><input type="date" value="{{asof}}"></span></p>
        </div>
    </div>

    <section>
        <div class="p-1">
            {% include "partials/entity_summary_cards.html" %}
        </div>
        <div class="row p-1">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body" style="height: 400px">
                        <canvas id="marketValueTrend"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body" style="height: 400px">
                        <canvas id="allocationSummary"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/graphs.js' %}"></script>
{% endblock content %}