{% extends "base.html" %}
{% load static %}
{% block title %}{{client.name}}{% endblock %}
{% block content %}

    <form action="{% url 'single-client' %}" method="post" id="AccountSelectForm">
        {% csrf_token %}
        <div class="row m-4">
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-select" name="selected_entity" id="SelectedAccount" class="form-control">
                        {% for item in dropdown_items %}
                            <option value="{{item}}">{{item}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="date" name="AsOfDate" value="{{asof}}" id="ClientAsOfDate">
                </div>
            </div>
        </div>
    </form>

    <section>
        <div class="p-1">
            {% include "partials/entity_summary_cards.html" %}
        </div>

        <div class="row p-1">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body" style="height: 550px">
                        <canvas id="marketValueTrend"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body" style="height: 550px">
                        <canvas id="allocationSummary"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var trendDates = [{% for t in trend %} '{{ t.date }}', {% endfor %}]
        var trendValues = [{% for t in trend %} {{ t.total_value }}, {% endfor %}]
        var allocationLabels = [{% for key, value in allocation.items %} '{{ key }}', {% endfor %}]
        var allocationValues = [{% for key, value in allocation.items %} {{ value }}, {% endfor %}]
    </script>
    <script src="{% static 'js/single-client.js' %}"></script>
    <script src="{% static 'js/main-monitor.js' %}"></script>
{% endblock content %}