<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold mb-1">Market Value</div>
                        <h5 class="mb-0 font-weight-bold text-muted">{{value}}</h5>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-coins fa-2x text-muted"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold mb-1">Total Gain</div>
                        <h5 class="mb-0 font-weight-bold text-muted">{{gain}}</h5>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-chart-line fa-2x text-muted"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold mb-1">Total Return</div>
                        <h5 class="mb-0 font-weight-bold text-muted">{{return}}</h5>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-percentage fa-2x text-muted"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold mb-1">Total Fees</div>
                        <h5 class="mb-0 font-weight-bold text-muted">{{fees}}</h5>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-money-bill-wave-alt fa-2x text-muted"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>