<aside id="sidebar" class="js-sidebar shadow-lg">
    <!-- Content For Sidebar -->
    <div class="h-100">
        <div class="sidebar-logo">
            <a href="#">Portfolio Manager</a>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Explore
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-building pe-2"></i>
                    Monitor Business
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-solid fa-people-roof pe-2"></i>
                    Manage Clients
                </a>
                <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">Client Portfolios</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-code-compare pe-2"></i>
                    Compare Portfolios
                </a>
            </li>
        </ul>
    </div>
</aside>